/* Login page */

.form-signin {
  max-width: 100%;
  margin: 130px auto;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
  border-radius: 8px;
  border: 1px solid #dadce0;
  width: 400px;
 }
 .sign{
  width: 95%;
  margin: 50px auto;
  height: auto;
 }
  .fopad{
    padding: 30px;
  }
  .f-hed{
    text-align: center;
  }
.form-signin h2.form-signin-heading {
  margin: 0;
  padding: 15px 15px;
  text-align: center;
  background: #68df7c;/* #4cd964c4; */
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
 
}
.login-wrap {
  padding: 20px;
  position: relative;
}
.user-login-info {
  background: #e4e4e4;
  margin: -20px -20px 20px -20px;
  padding: 20px;
}
.form-signin .checkbox {
  margin-bottom: 14px;
  padding-left: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
  color: black;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
.form-signin .btn-login {
  background: #F85B27;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0 5px;
}

.container1{
border: 1px solid red;
height: 300px;
width: 600px;
background-color: white;
overflow: hidden;
}

.two {
background: white;
position: relative;
}
.three {
background: white;
position: relative;
}

.one {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
width: 38%;
min-height: 140px;
margin-top: 26px;
border-top-left-radius: 19px;
border-top-right-radius: 19px;
border-bottom-right-radius: 19px;
border-bottom-left-radius: 19px;
border-top: 1px solid lightgrey;
background: white;
 overflow: hidden;
}
.two{
  background: white;
 
   position: relative;
}
.three{
  background: white;
 
   position: relative;
}
.title {
display: block;
font-family: Poppins-Bold;
font-size: 34px;
color: #333333;
line-height: 1.2;
text-align: center;
padding-top: 32px;
font-family: Poppins-Regular, sans-serif;
}
.title2 {
  display: block;
  font-family: Poppins-Bold;
  font-size: 23px;
  color: #333333;
  text-align: center;
  font-family: Poppins-Regular, serif;
}

.body1 {

background-color: whitesmoke;
}

.btn-primary {
     height: 48px;
  background: url(https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg);
background-attachment: fixed;
background-size: cover;
}

input {
 
  width: 100%;

   
   

} 
 input:focus {
 width: 100%;
  border-color: #1a73e8;
   
}  
.inputText {
  font-size: 14px;
  width: 90%;
  height: 25px;
border-color: whitesmoke;
    padding: 14px;
  border-left: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
}
.transformlabel {
position: relative; /*  make label relate to div  */
    padding-top: 0px;  /*  make space for label      */
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 29px;
  font-size: 14px;
      width: max-content;
  top: 9px;
  transition: 0.2s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
top: -9px;
left: 13px;
z-index:1;
font-size: 13px;

background-color:white;
 
}
#messageBox{
  width: 200px;
  height: 250px;
}
.rectangle{
color:red;

}
/*hide login side bar image in mobile */
@media only screen and (max-width: 700px)  
{
.hideDiv{
  display: none;
}
}


.btn-deva
{
background: #F85B27;
  color: white;
  min-width: 12%;
  height: 36px;
  margin-right: 11px;
}




.label-right {
	text-align: right;
}

.circlrImg {
	width: 160px;
	height: 160px;
	margin-top: 0px;
	border-radius: 111px;
  border: 1px solid #002868
}

.glable {
	position: absolute;
	top: 10em;
	left: 12em;
}

.wlable {
	position: absolute;
	top: 10em;
	left: 14em;
}

.avatar-upload {
	position: relative;
	max-width: 205px;
}

.avatar-upload .avatar-edit {
	position: absolute;
	right: 12px;
	z-index: 1;
	top: 10px;
}

.avatar-upload .avatar-edit input {
	display: none;
}

.avatar-upload .avatar-edit input+label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 100%;
	background: #89201a;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
	background: #89201a;
	border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
	content: "\f040";
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload .avatar-preview {
	width: 189px;
	height: 192px;
	position: relative;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#inputfile {
	display: none;
}

/* User image upload image hover button */
.img_wrap {
    position: relative;
    height: 140px;
    width: 130px;
  }
  
  .img_description_layer {
    position: absolute;
    top: 82px;
    overflow: hidden;
    bottom: -4px;
    left: 2px;
    right: 45px;
    background: #040C07;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
   
   /* position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #040C07 ;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;*/
  }
  
  .img_wrap:hover .img_description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img_description {
    transition: .2s;
    transform: translateY(1em);
    padding: 2px 5px;
    margin-top: 8px;
   cursor: pointer;
  }

  .img_wrap:hover .img_description {
    transform: translateY(0);
  }
 .filter{
     margin-right: 10px;
     margin-bottom: 40px;
 } 
 .btn-file {
    position: relative;
    overflow: hidden;
}

.image-cover {
    width: 140px;
    height: 145px;
    border-radius: 50%;
    border: 1px solid #F1592A !important;
    object-fit: cover;
    object-position: center right;
  }

  .akk{
    width: 136px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    overflow: hidden;
}
.l-but{
  display: flex;
    justify-content: space-between;
}
.llpad{
  padding: 12px 0px 0px 0px;
}
.card-c{
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin: 0 auto;
  min-height: 0;
  -webkit-transition: .2s;
  transition: .2s;
  width: 450px;
}


.cardB{
  height: 12em;
  /* background-color: whitesmoke; */
  padding: 12px;
  text-align: center;
}

.cardData{
background-color: white;
height: 100%;
padding: 15px;
box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
border-radius: 1em;
}
.card-title{
text-align: center;
}
label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 100;
}
.cus{
border-radius: 15px;
}
.search-icon{
color: #9AA0A6;
height: 20px;
width: 20px;
fill: currentColor;
line-height: 24px;
position: relative;
}

.search-row{box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
z-index: 112;
background-color: white;
padding: 1em;;
}
.cols{
color: #9e9e9e;
}
.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}
.sol-out{
  height: 2em;
  border: 1px solid darkgray;
  padding: 3px;
}
.cart-count{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.cart-c{
  display: flex;justify-content: center;padding: 12px;
}

.car-b{
  border: 1px solid gray;
  height: 85Vh;
  overflow-y: scroll;
}